body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.heading{
	color:gold;
	font-family: 'Neonderthaw', cursive;
	font-size:400%;
	font-weight: bold;
	text-align: center;
	
}

.title{
	font-family: 'Cookie', cursive;
	font-size: 150%;
	color: crimson;
}